:root{
    --clr-orange: #f87932;
    --clr-turquoise: #39BFA7    ;
}

p, a, h5{
    font-family: 'Lato';
    font-weight: 600;
    letter-spacing: 3px;
}

h1, h2, h3{
    font-family: 'Merriweather';
    font-weight: 600;
    color: #ffffff;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 3.8rem;
}

h3{font-size: 2rem;}

.orng-btn,
.trn-btn{
    border-style: solid;
    border-width: 2px;
    font-family: 'Lato';
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 12px 20px;
    margin-top: 8vh;
}

.orng-btn{
    border-color: var(--clr-orange);
    background-color: var(--clr-orange);
    color: #ffffff;
    box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.6);
}

.trn-btn{   
    border-color: black;
    background-color: #00000000;
    color: black; 
}

.link-btn{
    background-color: #FFFFFF;
    box-shadow: 1px 4px 4px 1px #0000004f;
    border-radius: 0px 0px 14px 14px;
    margin: 0 30px;
    padding: 16px 40px;
    color: #F87932;
    font-size: 1.2rem;
    font-weight: 600;
    transition: .3s;
}

.nav-link:hover{color: #F87932;}


.link-btn-1:hover,
.link-btn-2:hover,
.link-btn-3:hover,
.link-btn-4:hover{
    padding-top: 24px;
    padding-bottom: 32px;
    box-shadow: 1px 0px 4px 1px #ffffffaf;
    transition: .4s;
}

.clr-orng{
    color: #F87932;
    font-weight: 600;
}

.navbar {
    --bs-navbar-padding-y: 0rem;
}

.main{
    background-image: url(../imgs/BG.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 113vh;
}

.main h1{
    color: var(--clr-turquoise);
    text-shadow: 1px 4px 15px rgba(0, 0, 0, 0.6);
    line-height: 1;
}

.romb{
    width: 380px;
    height: 380px;
    transform: rotate(45deg);
    border-style: solid;
    border-width: 6px;
    border-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.romb-inner{
    transform: rotate(-45deg) scale(3);
    transition: 1s;
}

.romb-inner:hover{
    transform: rotate(-45deg) scale(4);
    transition: 0.8s;
}

.adventure{
    margin-top: -10vh;
}

.adventure h5{
    color: #666666;
}

.adventure h2{
    color: black;
}

/* .route-img{
    
} */

.adventure{
    background-image: url(../imgs/Route.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.text{
    padding-top: 150px;
}